/*Raderar all defaultstyling från webbläsar(na) med hjälp av Eric Meyers reset css*/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*FONTS*/
@font-face
{
    font-family: 'Didot';
    src: url(../fonts/Didot.woff) format('woff');
}

@font-face
{
    font-family: 'Didot-Italic';
    src: url(../fonts/Didot-Italic.woff) format('woff');
    font-style: italic;
}

@font-face
{
    font-family: 'dinlight';
    src: url(../fonts/dinlight-webfont.woff);
}

@font-face
{
    font-family: 'DINlight-italic';
    src: url(../fonts/din-light-italic.woff)  format('woff');
/*    font-style: italic;*/
}

@font-face
{
    font-family: 'gothambold';
    src: url(../fonts/gothambold.woff)  format('woff');
/*    font-style: italic;*/
}

@font-face
{
    font-family: 'gothambook';
    src: url(../fonts/gothambook.woff)  format('woff');
/*    font-style: italic;*/
}

/*BODY*/
body {
    font-family: 'dinlight', Times, serif;
    color: #222;
    background-color: #F5F5F5;
}

/*HEADER*/
header {    
/*    width: 100%;
    position: relative;*/
    height: 675px;
    background: url(../img/sunset2.jpg) top center no-repeat;
    background-position: center center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
  margin-bottom: 0px;
}

#header-bar {
/*    background:rgba(0,0,0,0.55);*/
    position: absolute;
    top: 0px;    
    left:0;
    right:0;
}

header img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #666;
}

#logo {
    float: left;
    max-width: 40%;
    position: relative;
}

#tagline {
    color: white;
/*    position: absolute;
    bottom: 40%;
    max-width: 30%;
    right:5%;
    height: 13%;*/
    max-width: 60%;
    position:absolute;
    left:0;
    right:0;
    text-align: center;
    top: 20%;
    margin: auto;
}

/*    MAIN NAV*/
    #main-nav {
        margin-top: 31px;
        float: right;
    }

    #main-nav ul {
        width: 100%;
    }

    #main-nav li {
        display: inline;
        font-size: 1em;
        padding-right: 30px;
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    #main-nav li:last-child {
        padding-right: 0px;
    }
    /*END MAIN NAV*/
    
    /*LINKS*/
    a {
        -o-transition:.9s;
        -ms-transition:.9s;
        -moz-transition:.9s;
        -webkit-transition:.9s;
        /* ...and now for the proper property */
        transition:.5s;
    }

    a:active, a:visited, a {
    /*    color: #222;*/
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: gray;
    }
    
    p a:active, p a:visited, p a {
    /*    color: #222;*/
        color: #9F5050;
        text-decoration: none;
    }

    /*END LINKS*/
    
/*END HEADER*/


/*GENERALS*/

.container {
    max-width: 900px;
    margin: 0 auto 0px auto;
}

.two-columns {
       -moz-column-count: 2;
       -moz-column-gap: 170px;
       -webkit-column-count: 2;
       -webkit-column-gap: 170px;
}

.two-columns img {
    display: block;
    margin: 0 auto 40px auto;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

/*END GENERALS*/

/*HEADINGS AND FONTS*/
h1 {
    padding-top: 20px;
/*    padding-bottom: 20px;*/
    font-family: 'gothambold', 'Didot', Times, serif;
    text-transform: lowercase;
    font-size: 4.4em;
    letter-spacing: 4px;
    color: #F5F5F5;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

h1 span {
    background:rgba(0,0,0,0.55);    
    color:burlywood;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    
}

h2 {
    /*    font-family: 'Didot-Italic', Times, serif;*/
    font-family: 'gothambook', 'dinlight', 'gothambold', 'Didot', Times, serif;
    letter-spacing: 5px;
    font-size: 1.2em;
    padding-bottom: 30px;
    color: #4F988C;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #557592;
    color: #54997F;
    position: absolute;
    right:-9px;
/*    left:0;
    text-align: center;*/
    
    margin: auto;
}

#test {
    color: white;
    max-width: 60%;
    position:absolute;
    left:0;
    right:0;
    text-align: center;
    top: 20%;
    margin: auto;
}

h3 {
    font-family: 'Didot', Times, serif;
    letter-spacing: 4px;
    font-size: 2.5em;
    padding-bottom: 30px;
    
}

h4 {
    font-family: 'Didot', Times, serif;
    letter-spacing: 4px;
    font-size: 1.8em;
    padding-bottom: 20px;
    
}

p {
    line-height: 1.7em;
}

.small-text {
    font-size: 0.8em;
}

.lead-text {
    font-family: 'DINlight-italic', Times, serif;
}

/*END HEADINGS AND FONTS*/
